<main>
    <article class="mainContainer">
        <section class="formSection">
            <img src="/logo/image.png" alt="Logo de l'application" class="logo">
            <div class="stepWrapper">
                <article>
                    <h3>{{lastStep() ? "Étape 2/2" : "Étape 1/2"}}</h3>
                    <p>{{ lastStep() ? "Sécurisation du compte" : "Validaion d'email" }}</p>
                </article>
                <img src="/images/step{{lastStep() ? 2 : 1}}.png" alt="" style="width: 100%;">
                <h2>{{lastStep() ? "PRESQUE FINI !" : "C'EST PARTI !"}} </h2>
                <p>{{lastStep() ? "Dernière ligne droite pour configurer votre espace." : "Entrez votre email, on s'occupe du reste"}}</p>
            </div>
            
            
            <form action="" (submit)="$event.preventDefault()">
                <app-input-form [value]="email()" type="email" placeholder="Entrez votre adresse email" label="Email" [disabled]="lastStep()" (validChange)="isEmailValid.set($event)" (valueChange)="onEmailChange($event)"/>
                @if (lastStep()) {

                    @for (input of inputs(); track input.label) {
                      <app-input-form 
                        [type]="input.type" 
                        [placeholder]="input.placeholder" 
                        [label]="input.label" 
                        [isSetter]="input.isSetter" 
                        [value]="input.value"
                        [witness]="input.witness"
                        (validChange)="input.onValidChange($event)"
                        (valueChange)="input.onUpdate($event)"
                      />
                    }
                }
                
                <button (click)="!lastStep()? swapStep() : signUpCheck()" type="button" [disabled]="!isFormValid()" [class]="'formButton ' + (isFormValid() ? 'formButton-enabled' : 'formButton-disabled')"> {{lastStep() ? "Terminer" : "Suivant"}}</button>
                <div>Vous avez déjà un compte ? <a href="" class="link" (click)="navigate('login')"  >Connectez-vous</a></div>
            </form>
        </section>
        
        <section class="secondSection">

        </section>
    </article>
</main>
