<article class="passwordValidation">
    <app-password-strenght-bar [level]="getLevel()*(100/validators().length)" [colors]="colors"></app-password-strenght-bar>
    @for (criteria of validators(); track criteria.label) {
        <div>
            @if (criteria.isValid()) {
            <img [src]="validIcon" alt="valid">
            } @else {
            <img [src]="invalidIcon" alt="invalid">
            }
            
            <span class="{{criteria.isValid() ? 'valid': ''}}">{{criteria.label}}</span>
        </div>
    }
</article>