article{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.valid{
    color: #28A745;
}
div{
    display: flex;
    gap: 10px;
}
span{
    display: flex;
    align-items: center;
}


div img{
    width: 20px;
    height: 20px;
}