.mainContainer{
    display: flex;
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(70deg, #F0F2F5 80%, #E2E9FE);
}

.maincontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    overflow-y: auto;

}
.content{
    padding-top: 30px;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 30px
}
.cardsContainer {
  display: flex;
  width: 100%; 
  gap: 30px;   
  align-items: stretch; 
  background-color: transparent; 
}
.mobile{
    width: 100%;
    & .content{
        gap: 10px
    }
    & .cardsContainer {
        justify-content: center;
        display: flex;
        flex-wrap: wrap; 
        gap: 10px;       
        width: 100%;
        & > * {
            flex: 0 0 calc(50% - 5px); 
            min-width: 140px; 
        }
    }
}