.mainContainer{
    display: flex;
    align-items: center;
    height: 80px;
    flex: 1;
    border-bottom: 1px solid #E8E8E8;
    padding: 0px 20px;
}
.sliderButton{
    margin-right: auto;
    width: 60px;
    height: 60px;
}

.infos{
    display: flex;
    max-height: 42px;
    gap: 10px;
    align-items: center;
    & img{
        width: 42px;
        height: 42px;
    }
    & svg{
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }
    & select{
        border: none;
        background: transparent;
        font-size: 18px;
        appearance: none; 
        -webkit-appearance: none;
        background-image: url("/icons/arrowdown.svg");
        background-repeat: no-repeat;
        padding-right: 25px;
        background-position: right 10px ;
    }
}
@media (max-width: 768px) {
    .mainContainer{
        height: 50px;
        padding: 0px 5px;
    }
    img{
        width: 24px !important;
        height: 24px !important;
    }
    .infos{
        & svg{
            margin-right: 0px;
            width: 16px !important;
            height: 16px !important;
        }
        & select{
            font-size: 12px ;
            padding-right: 20px;
        }
    }
    .sliderButton{
    width: 40px;
    height: 40px;
}
}
:host{
    width: 100%;
}